.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: green;
}
.href {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.hr_login {
  margin: 10px;
  font-size: 10px;
}
.hr_new {
  margin: 10px;
  font-size: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.btn_log {
  text-align: center;
  width: 150px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}
.box {
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
